.card {
  max-width: 450px;
}

.show-logo {
  background-repeat: no-repeat !important;
  background-position: calc(100% - 10px) center !important;
  background-size: auto 70% !important;
  background-color: #ffffff !important;
}
